.navbar {
    @media(max-width: 375px) {
        padding-bottom: 0px;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png');
    width: 80px;
    height: 49px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @media(max-width: 375px) {
        margin: 0 auto;
        width: 48px;
        height: 30px;
        margin-bottom: 8px;
    }
}

.item-group {
    @media(max-width: 375px) {
        width: 375px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.nav-item {
    @media(max-width: 375px) {
        width: 50%;
        border: 1px solid #ffffff;
    }
}